* {
    background-color: rgb(212, 211, 211);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

.work-sample {
 position: relative;
 width: 100%;
}

.work-text {
    position:absolute;
    left: 0px;
    bottom: 10px;
    background-color: turquoise;
    font-size: xx-large;
}

