* {
    background-color: rgb(212, 211, 211);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

.flex-container {
 display: flex;
 flex-wrap: wrap;
 width: 45%;
 margin: 10px;
 border: turquoise 3px solid;
 background-size:cover;
}

.work-text {
    position: absolute;
    left: 15px;
    bottom: 25px;
    background-color: turquoise;
    font-size: xx-large;
}

section h2 {
    color: red;
    display: flex;
    justify-content: right;
}

footer h2 {
    color: red;
    
}

.row {
    display: flex;
}

.left-column {
    display:flex;
    flex-wrap: wrap;
    flex: 20%;
    border-right: solid 3px black; 
    justify-content: right;
}


.flex-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.self {
    display: flex;
    flex-wrap: wrap;
}

img {
    object-fit: contain;
}



